.App {
    background-image: url(grass.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white; 
    padding-bottom: 3em;
    cursor: url(cursor.png), auto;
}

.App-logo {
    margin-top: .95in;
    margin-bottom: 10px;
    height: 20vmin;
    pointer-events: none;
}

#logo-name {
    margin-bottom: 5px;
}

#hello {
    font-size: 14px;
    font-style: oblique;
    color: white;
    margin-bottom: 2.5em;
}

a, button, input[type=text] {
    cursor: url(cursor_hover.png), auto !important;
}

hr {
    border: 2px dashed white !important;
    width: 100%;
    margin: 2.5ch 0 2.5ch 0 !important;
}

h2 {
    font-size: 30px;
    color: rgba(185, 45, 122, 0.849);
    padding-bottom: 15px;
    text-shadow: -1px -1px 0 rgba(184, 184, 184, 0.795),
                    1px -1px 0 rgba(184, 184, 184, 0.795),
                    -1px 1px 0 rgba(184, 184, 184, 0.795),
                    1px 1px 0 rgba(184, 184, 184, 0.795); 
}

.form-entry {
    padding: 0 12px 12px 12px;
}

.form-control {
    border-radius: 0 !important;
}

input[type=text] {
    padding: 5px 10px 5px 10px;
}

label {
    font-size: 20px;
}

button {
    background-color: rgb(192, 89, 140, 0.85) !important;
    border: none !important;
    width: 15ch;
    height: 4ch;
    font-family: 'Courier New', Helvetica, sans-serif !important;
    color: white;
    font-size: .65em !important;
}

#ctr-button {
    width: 20ch;
    height: 4ch;
    font-size: .65em !important;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    margin: 2px .25in 0 .25in;
    border-radius: .25rem;
}

#UpdateButton {
    background-color: rgb(192, 89, 140, 0.85) !important;
    border: none !important;
    width: 12ch;
    font-size: 13.5px;
}

#SaveButton {
    margin-top: 25px;
}

td {
    font-size: 14px;
    line-height: 30px;
    padding: 6px 45px 6px 45px;
}

tr:nth-child(even) {
    background: rgba(143, 102, 127, 0.55);
}

tr:nth-child(1) {
    background: rgba(175, 77, 126, 0.83);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 100s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}