.App {
    background-image: url(grass.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white; 
}

.App-logo {
    margin-top: .95in;
    margin-bottom: 10px;
    height: 20vmin;
    pointer-events: none;
}

#logo-name {
    margin-bottom: 5px;
}

hr {
    border: 2px dashed white !important;
    width: 100%;
    margin: 2.5ch 0 2.5ch 0 !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 100s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}