#greet {
  line-height: 30px;
}

.Home-gif {
  margin: 40px 0 20px 0;
}

.Home-link {
  color: #ff99cc;
}

.Home-link:hover {
  color: rgba(196, 121, 240, 0.849);
}

#smol {
  width: 6.5em;
  height: 6.5em;
  text-align: right;
  position: fixed;
  right: 0;
  bottom: 0;
  background:rgba(0,0,0,0);
}
