.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}

.App-header {
  background-image: url(grass.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fab6dd;
}

header {
    padding-bottom: 2em;
}

.App-gif {
    margin: 20px 0 20px 0;
}

#smol {
    width: 6.5em;
    height: 6.5em;
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
